/*#formation{
    background-image:url(../front/img/portfolio/fullsize/chapeau.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 300px;
    background-color: #fff;
    transition: 1s;
    color: #fff;
}

#formation:hover{
    background-image:url(../front/img/portfolio/fullsize/chapeau.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 500px;
    background-color: #6A8D9D;
    font-size: 30px;
    color: #fff;
}

#experience{
    background-image:url(../front/img/portfolio/fullsize/experience.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 300px;
    background-color: #fff;
    transition: 1s;
    color: #fff;
}

#experience:hover{
    background-image:url(../front/img/portfolio/fullsize/experience.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 400px;
    background-color: #6A8D9D;
    font-size: 30px;
    color: #fff;
}

#competence{
    background-image:url(../front/img/portfolio/fullsize/competences.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 300px;
    background-color: #fff;
    transition: 1s;
    color: #fff;
}

#competence:hover{
    background-image:url(../front/img/portfolio/fullsize/competences.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 500px;
    background-color: #6A8D9D;
    font-size: 30px;
    color: #fff;
}*/

span{
    color: #6A8D9D;
}
#presentation{
    text-align: center;
    font-weight: bold;
    color: #fff;

}
#reseaux{
        color: #6A8D9D;
}
#accueil{
    background-image:url(../front/img/portfolio/fullsize/accueil.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#boutton{
    height: 25vh;
}
